
<nav class="navbar fixed-top navbar-dark navbar-expand">
<div class="container-fluid">
    <!-- Links -->
    <a class="navbar-brand" >Navbar</a>
    <ul class="navbar-nav ml-auto">
     
    
      <li class="nav-item ">
        <a class="nav-link " href="#about" id="linki2">O nas</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"  id="linki2" href="#jakdziala">Jak działamy</a>
      </li>
      <li class="nav-item " >
        <a class="nav-link" id="linki2" href="#dzialania">Galeria</a>
      </li>
       <li class="nav-item ">
        <a class="nav-link" href="#opinie">Opinie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active" role="button" id="linki">Login <i class="fa fa-sign-in" aria-hidden="true"></i> </a>
      </li>
    </ul>

</div>
  </nav>

