
<body>
    <div class="container h-100  justify-content-center">
      <div class="row h-100  ">
        <div class="col-md-6  justify-content-center">
          <div class="card card-signin">
            <div class="card-body">
              <h5 class="card-title text-center">Zaloguj się</h5>
              <form class="form-signin">
                <div class="form-label-group">
                  <input  type="email" id="inputEmail" class="form-control" placeholder="Adres e-mail" >
                <label for="inputEmail"></label>
                </div>
  
                <div class="form-label-group">
                  <input   type="password" id="inputPassword" class="form-control" placeholder="Hasło">
                  <label for="inputPassword"></label>
                </div>
  
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Zapamietaj mnie</label>
                </div>
      
                <button class="btn btn-lg btn-primary btn-block text-uppercase" >Zaloguj</button>
                <hr class="my-4">
                <a href="#" >
                   Nie pamietam hasła.
                  </a><br>
                <a href="#" >
                  Nie posiadasz konta? Zarejestruj się.
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>